@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome to the TutoCitoCMS</h1>
    <p>Learn about <a href="https://tutocito.com/">building Web sites with ASP.NET Core TutoCitoCMS</a>.</p>
</div>
