
@{ Layout = null;}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
    img-src data: https: http:;
    script-src 'self' 'unsafe-inline';
    style-src 'self' 'unsafe-inline'; "/>
...-->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="0; URL=/view/1/1/1/1" />
    <title>TutoCitoCMS</title>

    <style type="text/css">
        body {
            height: 100%;
            background-color: #fff;
            
        }
    </style>
    <script>
        // window.API_URL = "https://localhost:44457/";
        window.API_URL = "";
    </script>
<script type="module" crossorigin src="/assets/index-r5iyT3FO.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-XNBir3Qc.css">
</head>
<body>
    <div id="root"></div>
    <!--script type="module" src="/src/index.jsx"></script-->

    <footer>

        <div class="fixed-bottom">
            <div class="row">

                <div class="col-4 bg-success text-center text-dark">
                    <a class="text-dark fs-6" href="#"><small>TutoCito React ASP.Net Core CMS - v.8.18.1</small></a>
                </div>

                <div class="col-4 bg-success text-center">
                    <a class="text-dark fs-6" href="https://tutocito.com"><small>CopyRights &copy;TutoCito.com</small></a>
                </div>

                <div class="col-4 bg-success text-end">
                    <a class="text-dark fs-6" href="https://tutocito.com"><small>TutoCito.com&nbsp;&nbsp;&nbsp;</small></a>
                </div>

            </div>
        </div>

    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
