<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex"> 
    <title>@ViewData["Title"] - cmsTC</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    <!--link rel="stylesheet" type="text/css" href="/cmsTC.Server.styles.css" asp-append-version="true" /-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><strong>TutoCitoCMS</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Manage account</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Admin/UsersList">Users List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/api/view/1/1/1/1">View</a>
                        </li>
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - cmsTC.Server - <a asp-area="" asp-controller="Home" asp-page="Privacy">Privacy</a>
        </div>
    </footer-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

        <footer>

        <div class="fixed-bottom">
            <div class="row">

                <div class="col-4 bg-success text-center text-dark">
                    <a class="text-dark fs-6" href="#"><small>TutoCito React ASP.Net Core CMS - v.8.18.4 main-razor</small></a>
                </div>

                <div class="col-4 bg-success text-center">
                    <a class="text-dark fs-6" href="https://tutocito.com"><small>CopyRights &copy;TutoCito.com</small></a>
                </div>

                <div class="col-4 bg-success text-end">
                    <a class="text-dark fs-6" href="https://tutocito.com"><small>TutoCito.com&nbsp;&nbsp;&nbsp;</small></a>
                </div>

            </div>
        </div>

    </footer>
</body>
</html>
